<div id="<%= dom_id prodect %>">
  <p>
    <strong>Title:</strong>
    <%= prodect.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prodect.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= prodect.image_url %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= prodect.price %>
  </p>

</div>
