<p style="color: green"><%= notice %></p>

<%= render @prodect %>

<div>
  <%= link_to "Edit this prodect", edit_prodect_path(@prodect) %> |
  <%= link_to "Back to prodects", prodects_path %>

  <%= button_to "Destroy this prodect", @prodect, method: :delete %>
</div>
